<aside id="sidebar">
    <nav id="navigation">
        <h2>菜单</h2>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <ul>
            <!-- {% for link in site.links %} -->

            <li>
                <a href="{{ site.url }}">
            		<i class="fa fa-home fa-2x" aria-hidden="true"></i>主页
            	</a>
            </li>

            <li>
                <a href="{{ site.url }}/about/">
            		<i class="fa fa-info fa-2x" aria-hidden="true"></i>关于
            	</a>
            </li>

            <li>
                <a href="{{ site.url }}/contact/">
            		<i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>联系
            	</a>
            </li>

            <!-- {% endfor %} -->

            <li>
                <a class="feed" href="{{ site.url }}/feed.xml" title="Atom/RSS 订阅">
                	<i class="fa fa-rss fa-2x" aria-hidden="true"></i>订阅
                </a>
            </li>
        </ul>
    </nav>
</aside>